.equals {
	position: relative;
	left: -50px;
}

.top {
	position: relative;
	top: -50px;
	opacity: 0;
}

.right {
	position: relative;
	right: -50px;
	opacity: 0;
}

.left {
	position: relative;
	left: -50px;
	opacity: 0;
}

.dots {
	opacity: 0;
}
