$blue-50: #EBF1FE;
$blue-75: #ADC7FA;
$blue-100: #8AB0F7;
$blue-200: #588DF4;
$blue-300: #3676F2;
$blue-400: #2653A9;
$blue-500: #214894;

$gray-primary: #1D1D1D;
$gray-secondary: #616161;

$white: #F4F7FF;

.dark-blue {
	background-color: $white;
}

.blue {
	color: $blue-300;
}