.first-page {
	height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .blog-announcement {
    	position: relative;
    }

    .blog-listing {
        white-space: nowrap;
    }
}
