.first-page {
    margin-top: 65px;

  .content {
    display: flex;
    text-align: center;
    justify-content: center;

    .blog-announcement {
      position: relative;
      margin-bottom: 50px;
    }

    .main-text {
      margin-bottom: 10px;
    }
  }

  .main-text {
    margin-top: 30px;
  }

  .content-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.small-text {
    display: block;
    margin: 30px auto;
    max-width: 60%;

  @include media-query($grid-bp) {
    width: 100%;
    max-width: 100%;
  }
}