.first-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .blog-announcement {
    	position: relative;
        margin-bottom: 50px;
    }

    .main-text {
        margin-bottom: 50px;
    }

}

.first-page-blog {
    position: relative;
    top: -50px;
}