$bp-1: 700px;

header {
	position: absolute;
	width: 100%;
	color: black;
	top: 0;

	.parent {
		display: grid;
		height: 100%;
		grid-template-columns: 1fr 1fr;
		margin: 0 auto;
	}

	.center-part {
		text-align: center;

		@include media-query($bp-1) {
			grid-column: 3;
			text-align: right;
		}

		p {
			left: 0;
			right: 0;
		}
	}

	.center-part, .left-part, .right-part {
		margin-top: 15px;

		p {
			margin: 0;
			display: inline;
			white-space: nowrap;

			@include media-query($bp-1) {
				font-size: 10px;
			}
		}
	}

	.right-part {
		text-align: right;
		grid-column: 3;

		p {
			margin-right: 20px;
		}
	}

	&:after {
		flex: 1;
		content: '';
	}
}
