@import 'colors.scss';
@import 'reset.scss';

$grid-bp: 940px;
$main-text-bp: 600px;

@import 'header.scss';
@import 'footer.scss';
@import "~rfs/scss";

.commit-details {
  @include font-size(1rem);
}

p, button {
  font-family: "Reddit Sans";
  font-optical-sizing: auto;
  font-style: normal;
}

.main-text, h1 {
  font-family: "Playfair Display";
  font-optical-sizing: auto;
  white-space: nowrap;
  font-weight: bold;

  @include font-size(4.5rem);

  @include media-query($grid-bp) {
    @include font-size(5rem);
  }

  @include media-query($main-text-bp) {
    @include font-size(3rem);
    margin-top: 30%;
  }
}

h2 {
  @include font-size(3.5rem);

  font-weight: lighter;

  @include media-query($grid-bp) {
    @include font-size(3rem);
  }

  @include media-query($main-text-bp) {
    @include font-size(2rem);
    margin-top: 30%;
  }
}

main {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;

  @include media-query-min-width(1200px) {
    max-width: 1500px;
  }

  @include media-query-min-width(1800px) {
    max-width: 1600px;
  }

  @import 'first-page.scss';
  @import 'second-page.scss';

  .page-three {
    text-align: center;

    button {
      margin-left: 10px;
    }
  }

  .page-four {
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 20px;

    .content-flex {
      display: flex;
      align-items: center;
      margin-top: 30px;
    }

    background-color: $white;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.store-button {
  height: 50px;
  margin-right: 15px;
}

.content-center {
    display: flex;
    justify-content: center;
}

.big-img {
  width: 100%;
  margin-top: 50px;
}

button {
  border: none;
  border-radius: 20px;
  padding: 14px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  background: $blue-300;
  outline: none;
}

.button-fade {
  background: $blue-50;
  color: $blue-300;
}

.underline {
  display: inline-block;
  position: relative;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 1px;
    bottom: 0;
    top: 90%;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover {
    &:after {
      transform: scaleX(0);
      transform-origin: bottom left;
    }
  }
}

@import 'animations.scss';
