@import 'reset.scss';
@import 'colors.scss';

.bg {
  background: $background-color;
}

.container-lg {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;

  @include media-query-min-width(1200px) {
    max-width: 1500px;
  }

  @include media-query-min-width(1800px) {
    max-width: 1600px;
  }
}



$grid-bp: 940px;
$main-text-bp: 600px;

@import 'header.scss';
@import 'footer.scss';
@import "~rfs/scss";

.commit-details {
  @include font-size(1rem);
}

p {
  font-weight: lighter;
}

.main-text {
  white-space: nowrap;

  @include font-size(6.5rem);

  @include media-query($grid-bp) {
    @include font-size(5rem);
  }

  @include media-query($main-text-bp) {
    @include font-size(3rem);
    margin-top: 30%;
  }

  font-weight: 900;
}

main {

  @import 'first-page.scss';
  @import 'second-page.scss';
  @import 'blog-post.scss';

  .third-page {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
}

button {
  background: transparent;
  border: 1px solid $color-6;
  border-radius: 20px;
  font-family: "Fira Code";
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  background: $color-6;
  outline: none;
}

.commit {
  display: inline;
  font-weight: 900;
  background: linear-gradient(to right, #FFF 20%, $color-4 40%, $color-4 60%, #FFF 80%);
  background-size: 400%;

  color: transparent;
  -webkit-background-clip: text;

  animation: shine 5s linear infinite;
  -webkit-animation: shine 5s linear infinite;

  @keyframes shine {
    to {
      background-position: 400%;
    }
  }

}

.underline {
  display: inline-block;
  position: relative;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 1px;
    bottom: 0;
    top: 90%;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover {
    &:after {
      transform: scaleX(0);
      transform-origin: bottom left;
    }
  }
}

@import 'animations.scss';
