html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Fira Code', monospace !important;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 200%;
}

.no-margin-padding {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@mixin media-query($size) {
  @media (max-width: $size) { @content; }
}

@mixin media-query-min-width($size) {
  @media (min-width: $size) { @content; }
}
