.page-two {
  display: grid;
  margin-bottom: 100px;
  margin-top: 100px;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  h2 {
    margin-bottom: 15px;
  }

  div {
    ul {
      margin-top: 50px;
      padding-left: 20px;
    }

    li {
      list-style-image: url("/public/assets/images/cube.svg");
      margin-top: 20px;
    }
  }

  button {
    margin-top: 20px;
  }
}