html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: "Fira Code", monospace !important;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 200%;
}

.no-margin-padding {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.color-1 {
  color: #4C566A;
}

.color-2 {
  color: #5E81AC;
}

.color-3 {
  color: #81A1C1;
}

.color-4 {
  color: #88C0D0;
}

.color-5 {
  color: #EBCB8B;
}

.color-6 {
  color: #B48EAD;
}

.color-7 {
  color: #22E0DC;
}

.color-8 {
  color: #A3BE8C;
}

body {
  background: #2E3440;
}

.container-lg {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  background: #2E3440;
}

@media only screen and (min-width: 1200px) {
  .container-lg {
    max-width: 1500px;
  }
}
@media only screen and (min-width: 1800px) {
  .container-lg {
    max-width: 1600px;
  }
}
header {
  position: absolute;
  width: 100%;
  height: 80px;
}
header .parent {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}
header .center-part {
  text-align: center;
}
@media (max-width: 700px) {
  header .center-part {
    grid-column: 3;
  }
}
header .center-part p {
  left: 0;
  right: 0;
}
header .center-part, header .left-part {
  position: relative;
}
header .center-part p, header .left-part p {
  white-space: nowrap;
  position: absolute;
  bottom: 0;
}
@media (max-width: 700px) {
  header .center-part p, header .left-part p {
    font-size: 10px;
  }
}
header:after {
  flex: 1;
  content: "";
}

footer {
  background: #4C566A;
  padding: 50px;
  padding-left: 5vw;
}

.commit-details {
  font-size: 1rem;
}

.main-text {
  white-space: nowrap;
  font-size: calc(1.775rem + 6.3vw);
  font-weight: 900;
}
@media (min-width: 1200px) {
  .main-text {
    font-size: 6.5rem;
  }
}
@media (max-width: 940px) {
  .main-text {
    font-size: calc(1.625rem + 4.5vw);
  }
}
@media (max-width: 940px) and (min-width: 1200px) {
  .main-text {
    font-size: 5rem;
  }
}
@media (max-width: 600px) {
  .main-text {
    font-size: calc(1.425rem + 2.1vw);
  }
}
@media (max-width: 600px) and (min-width: 1200px) {
  .main-text {
    font-size: 3rem;
  }
}

main .first-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .second-page {
  height: 100%;
}
main .second-page .projects {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 0.5fr 1fr 0.8fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: minmax(min-content, max-content);
}
@media (max-width: 940px) {
  main .second-page .projects {
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
  }
}
main .second-page .projects .title-text .inline-text {
  margin: 0;
  padding: 0;
  display: inline !important;
}
@media (max-width: 940px) {
  main .second-page .projects .title-text {
    grid-row: 1;
    width: 100%;
    grid-column: 1;
  }
  main .second-page .projects .title-text .inline-text {
    display: block !important;
  }
  main .second-page .projects .title-text .inline-text br {
    display: none;
  }
}
main .second-page .projects .rtoml {
  grid-row: 2/3;
  grid-column: 1/1;
  background: #B48EAD;
}
@media (max-width: 940px) {
  main .second-page .projects .rtoml {
    grid-row: 2;
    grid-column: 1/span 3;
  }
}
main .second-page .projects .octane {
  grid-row: 1/span 2;
  grid-column: 2/2;
  background-image: url("https://raw.githubusercontent.com/OctaneWeb/OctaneSite/develop/docs/assets/logo.png");
  background-size: cover;
}
main .second-page .projects .octane .card {
  background: rgba(76, 86, 106, 0.6);
}
@media (max-width: 940px) {
  main .second-page .projects .octane {
    grid-row: 3;
    grid-column: 1/span 3;
  }
}
main .second-page .projects .co-chat {
  grid-row: 1/1;
  grid-column: 3/3;
}
main .second-page .projects .co-chat .card {
  background: #EBCB8B;
  color: black;
}
@media (max-width: 940px) {
  main .second-page .projects .co-chat {
    grid-row: 4;
    grid-column: 1/span 3;
  }
}
main .second-page .projects .sanitizer .card {
  background: #5E81AC;
}
main .second-page .projects .sanitizer .card .underline:after {
  background-color: #88C0D0;
}
@media (max-width: 940px) {
  main .second-page .projects .sanitizer {
    grid-row: 5;
    grid-column: 1/span 3;
  }
}
main .second-page .card {
  height: 100%;
  padding: 25px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: #4C566A;
}
@media (max-width: 940px) {
  main .second-page .card {
    padding: 20px;
  }
}
main .second-page .card h1 {
  font-weight: 900;
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  main .second-page .card h1 {
    font-size: 2rem;
  }
}
main .second-page .card h3 {
  font-size: 1.2rem;
  margin-top: 10px;
}
main .second-page .card span {
  font-size: 12px;
}
main .second-page .card button {
  margin-top: 30px;
}
main .third-page {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

button {
  background: transparent;
  border: 1px solid #B48EAD;
  border-radius: 20px;
  font-family: "Fira Code";
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  background: #B48EAD;
  outline: none;
}

.commit {
  display: inline;
  font-weight: 900;
  background: linear-gradient(to right, #FFF 20%, #88C0D0 40%, #88C0D0 60%, #FFF 80%);
  background-size: 400%;
  color: transparent;
  -webkit-background-clip: text;
  animation: shine 5s linear infinite;
  -webkit-animation: shine 5s linear infinite;
}
@keyframes shine {
  to {
    background-position: 400%;
  }
}

.underline {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  top: 90%;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.equals {
  position: relative;
  left: -50px;
}

.top {
  position: relative;
  top: -50px;
  opacity: 0;
}

.right {
  position: relative;
  right: -50px;
  opacity: 0;
}

.left {
  position: relative;
  left: -50px;
  opacity: 0;
}

.dots {
  opacity: 0;
}
